h1 {
  font-family: 'Lobster', cursive;  text-align: center;
  color: white;
}

h2 {
  font-family: 'Lobster', cursive;  text-align: center;
  color: white;
}

h3 {
  font-family: 'Lobster', cursive;  text-align: center;
  color: white;
}

.s1 {
  background: url('../images/one.jpg');
  background-size: cover;
}

.s2 {
  background: url('../images/two.jpg');
  background-size: cover;
}

.s2 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 4rem;
}

.s3 {
  background: url('../images/three.jpg');
  background-size: cover;
}

.s3 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 2em;
}

.s3 h2 {
  text-align: left;
  margin-left: 2em;
  font-size: 2em;
}

.s4 {
  background: black;
}

span {
  background: white !important;
}