body {
    font-family: 'Anonymous Pro', monospace;  text-align: center;
    background-color: rgb(25, 25, 25);
    color: white;
}

.container-flex {
    margin-top: 600px;
    font-size: xx-large;
}

@keyframes fadeIn {
    from { 
        opacity: 0; 
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.4s;
}

.fade-in.delayed {
    animation-delay: 1.4s;
}